.main-nav {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.app-wrapper {
  position: relative;
  height: 100vh;
}

.portal-footer {
  position: static;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.footer-logo {
  max-width: 130px;
  height: auto;
}
