.main-nav {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.app-wrapper {
  position: relative;
  height: 100vh; /* ocupa 100% da tela */
}

.portal-footer {
  position: static; /* volta ao fluxo normal */
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.footer-logo {
  max-width: 130px;
  height: auto;
}

.footer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #34d399, #facc15, #3b82f6);
}
